h1, h2, h3, h4, h5, h6{
    color: darkblue;
    font-family: Arial, serif;
    margin: auto;
    font-weight: bold;
    text-align: center;
}

label {
    font-size: large;
    font-family: Arial, serif;
    color: darkblue;
    display: block;
    text-align: left;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}

input {
    justify-content: center;
    align-items: center;
    display: block;
    margin: auto auto 10px;
    width: 30%;
    border: 1px solid #ccc;
    padding: 4px;
}

.default-button {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height:20%;
    background: darkblue;
    color: white;
    padding: 5px;
}

div {
    display: block;
    /*margin-bottom: 10px; optional */
}

.centered {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px;
    padding: 5px;
}

main {
    padding: 10px;
    margin: 10px;
}

.bottom{
    bottom: 0;
}

.card {
    position: relative;
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
}

.edit-button {
    position: absolute;
    top: 5px;
    left: 5px;
}

.assigned {
    background-color: yellow;
}