<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Assigned Sub-Projects</title>
</head>
<body>
<main>
  <h1>Assigned Sub-Projects</h1>

  <table>
    <tr th:if="${assignedSubProjects.isEmpty()}">
      <td colspan="4">No assigned sub-projects found.</td>
    </tr>
  <tr th:each="subproject : ${assignedSubProjects}">
    <td th:text="${subproject.title}"></td>
    <td th:text="${subproject.deadline}"></td>
    <a th:href="@{'/projectCalculator/project/' + ${spid}}"
       class="btn btn-primary btn-lg btn-block">
      <button type="button" class="btn btn-primary btn-lg btn-block">View</button>
    </a>
  </tr>
  </table>

  <br>
  <br>
  <button onclick="history.back()">Go Back</button>
</main>
</body>
</html>