<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Assigned Projects</title>
  <link rel="stylesheet" th:href="@{/header-footer.css}">
  <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:insert="~{fragments/header-footer.html :: header}"></div>
<main>
  <h1>Assigned Projects</h1>

  <table>
    <tr th:if="${assignedProjects.isEmpty()}">
      <td colspan="4">No assigned projects found.</td>
    </tr>
    <tr th:each="project : ${assignedProjects}">
      <td th:text="${project.getTitle()}"></td>
      <td th:text="${project.getDescription()}"></td>
      <td th:text="${project.getDeadline()}"></td>
      <td th:text="${project.getBudget()}"></td>
      <td th:text="${project.getTimeSpent()}"></td>
      <a th:href="@{'/projectCalculator/project/' + ${pl.getId()} + '?userId=' + ${userId}}"
         class="btn btn-primary btn-lg btn-block">
        <button type="button" class="btn btn-primary btn-lg btn-block">View</button>
      </a>
    </tr>
  </table>
</main>
<div th:insert="~{fragments/header-footer.html :: footer}"></div>
</body>
</html>