<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create a SubProject</title>
  <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<h1 class="centered">Create a SubProject</h1>
<div>
  <form th:action="@{/projectCalculator/addsubproject}" th:object="${newSubProject}" method="post">
    <label>
      <input type="text" th:field="*{title}" placeholder="type title"><br/><br/>
    </label>

    <label>
      <input type="date" th:field="*{deadline}" placeholder="type deadline"><br/><br/>
    </label>



    <input type="hidden" th:field="*{projectId}">

    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
  </form>
  <div th:if="${deadLineError}" class="error-message">
    Subproject deadline cannot exceed the project deadline.
  </div>
</div>
</body>
</html>