<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create a task</title>
  <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<h1 class="centered">Create a task</h1>
<div>
  <form th:action="@{/projectCalculator/addtask}" th:object="${newTask}" method="post">
    <label>
      <input type="text" th:field="*{title}" placeholder="type title"><br/><br/>
    </label>

    <label>
      <input type="date" th:field="*{deadline}" placeholder="type date"><br/><br/>
    </label>

    <label>
      <input type="number" th:field="*{timeSpent}" placeholder="type title"><br/><br/>
    </label>

    <input type="hidden" th:field="*{subId}">

    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
  </form>
</div>
</body>
</html>