<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a Project</title>
    <link rel="stylesheet" th:href="@{/header-footer.css}">
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:insert="~{fragments/header-footer.html :: header}"></div>
<br>
<h1>Create a Project</h1>
<div>
    <form th:action="@{/projectCalculator/addproject}" th:object="${newProject}"
          method="post" style="margin-top: 60px">
      <p>
        <label class="centered">Title:</label>
        <input type="text" th:field="*{title}" placeholder="type title">
      </p>

      <p>
        <label class="centered">Deadline:</label>
        <input id="deadline" type="date" th:field="*{deadline}" placeholder="type date">
      </p>

      <p>
        <label class="centered">Budget (in DKK):</label>
        <input id="budget" type="number" th:field="*{budget}" placeholder="insert budget">
      </p>

      <p>
        <label class="centered">Description:</label>
        <input id="description" type="text" th:field="*{description}" placeholder="type description">
      </p>

        <input type="hidden" th:field="*{userId}">
        <p class="centered">
          <button class="default-button" type="submit">Submit</button>
        </p>

        <p class="centered">
          <button class="default-button" type="reset">Reset</button>
        </p>
    </form>
</div>
<div th:insert="~{fragments/header-footer.html :: footer}"></div>
</body>
</html>