<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Calculator</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/header-footer.css}">
</head>
<body>
<div th:insert="fragments/header-footer.html :: header"></div>
<div style="margin-top: 50px">
    <div>
        <h1 class="centered" style="font-size: 100px">Welcome to your personal Project Manager</h1>
        <h5 class="centered" style="font-size: 25px">Made by Osama Mansour & Mathias Fridthjof</h5>
    </div>
</div>
<div th:insert="~{fragments/header-footer.html :: footer}"></div>
</body>
</html>