<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Calculator</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <div>
        <h1 class="centered">Welcome to your personal Project Manager</h1>
        <h5 class="centered">Made by Osama Mansour & Mathias Fridthjof</h5>
    </div>
    <div>
        <a th:href="@{/projectCalculator/login}">Login</a><p> or </p><a th:href="@{/projectCalculator/create}">Sign up</a>
    </div>
</div>
</body>
</html>