<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Calculator</title>
    <link th:href="@{/style.css}" href="/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div>
    <div>
        <h1>SIUUUUUUU</h1>
    </div>
    <div>
        <a th:href="@{https://damp-eyrie-59618.herokuapp.com/login}">Login</a><p> or </p><a th:href="@{https://damp-eyrie-59618.herokuapp.com/create}">Sign up</a>
    </div>
</div>
</body>
</html>