<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your site</title>
</head>

<body>
<main>
<h1 th:text="'Welcome ' + ${userId} +' ' + ${email} + ' to your personal site'"></h1>
<br>
<a th:href="@{'/projectCalculator/login'}"><button type="button">Logout</button></a>
<br>

    <br>
    <a th:href="@{'/projectCalculator/createproject/' + ${userId}}">Add project</a>
    <br>
    <br>
    <a th:href="@{'/projectCalculator/createsubproject/' + ${userId}}">Add sub-project</a>
    <br>
    <br>
    <a th:href="@{'/projectCalculator/createtask/' + ${userId}}">Add task</a>
    <br>

    <table>
        <tr th:if="${projectList.isEmpty()}">
            <td colspan="3">No projects made... Create a project!</td>
        </tr>
        <tr th:unless="${projectList.isEmpty()}" th:each="pl : ${projectList}">
            <td th:text="${pl.getTitle()}"></td>
            <td th:text="${pl.getDeadline()}"></td>
            <td th:text="${pl.getBudget()}"></td>
            <td>
                <a th:href="@{'/projectCalculator/project/' + ${pl.getId()}}">View</a>
                <a th:href="@{'/projectCalculator/updateproject/'+ ${pl.getId()}}">Update project</a>
                <a th:href="@{'/projectCalculator/deleteproject/'+ ${pl.getUserId()} + '/' + ${pl.getId()} }">Delete project</a>
            </td>
        </tr>
    </table>
    <table>
        <tr th:if="${subProjectList.isEmpty()}">
            <td colspan="3">No sub-projects made... Create a sub-project!</td>
        </tr>
        <tr th:unless="${subProjectList.isEmpty()}" th:each="sl : ${subProjectList}">
            <td th:text="${sl.getTitle()}"></td>
            <td th:text="${sl.getDeadline()}"></td>
            <td>
                <a th:href="@{'/projectCalculator/updateproject/'+ ${sl.getId()}}">Update project</a>
                <a th:href="@{'/projectCalculator/deletesubproject/'+ ${sl.getProjectId()} + '/' + ${sl.getId()} }">Delete sub-project</a>


            </td>
        </tr>
    </table>
    <table>
        <tr th:if="${tasksList.isEmpty()}">
            <td colspan="3">No tasks made... Create a task!</td>
        </tr>
        <tr th:unless="${tasksList.isEmpty()}" th:each="tl : ${tasksList}">
            <td th:text="${tl.getTitle()}"></td>
            <td th:text="${tl.getDeadline()}"></td>
            <td th:text="${tl.getTimeSpent()}"></td>
            <td>
                <a th:href="@{'/projectCalculator/updatetask/'+ ${tl.getId()}}">Update project</a>
                <a th:href="@{'/projectCalculator/deletesubproject/'+ ${tl.getSubId()} + '/' + ${tl.getId()} }">Delete sub-project</a>


            </td>
        </tr>
    </table>
</main>
</body>
</html>