<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your site</title>
</head>

<body>
<main>
<h1 th:text="'Welcome ' + ${userId} +' ' + ${email} + ' to your personal site'"></h1>
<br>
<a th:href="@{'/projectCalculator/login'}"><button type="button">Logout</button></a>
<br>

    <br>
    <a th:href="@{'/projectCalculator/createproject/' + ${userId}}">Add project</a>
    <br>
    <br>
    <a th:href="@{'/projectCalculator/createsubproject/' + ${}}">Add sub-project</a>
    <br>

    <table>
        <tr th:if="${projectList.isEmpty()}">
            <td colspan="3">No projects made... Create a project!</td>
        </tr>
        <tr th:unless="${projectList.isEmpty()}" th:each="pl : ${projectList}">
            <td th:text="${pl.getTitle()}"></td>
            <td th:text="${pl.getDeadline()}"></td>
            <td th:text="${pl.getBudget()}"></td>
            <td>
                <a th:href="@{'/projectCalculator/updateproject/'+ ${pl.getId()}}">Update project</a>
                <a th:href="@{'/projectCalculator/deleteproject/'+ ${pl.getUserId()} + '/' + ${pl.getId()} }">Delete project</a>
            </td>
        </tr>
    </table>
    <table>
        <tr th:if="${subProjectList.isEmpty()}">
            <td colspan="3">No sub-projects made... Create a sub-project!</td>
        </tr>
        <tr th:unless="${subProjectList.isEmpty()}" th:each="sl : ${projectList}">
            <td th:text="${sl.getTitle()}"></td>
            <td th:text="${sl.getDeadline()}"></td>
            <td>
                <a th:href="@{'/projectCalculator/updateproject/'+ ${sl.getId()}}">Update project</a>
                <a th:href="@{'/projectCalculator/deleteproject/'+ ${sl.getProjectId()} + '/' + ${sl.getId()} }">Delete project</a>
            </td>
        </tr>
    </table>
</main>
</body>
</html>