<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update Task</title>

</head>
<body>
<h1>Update Task</h1>
<div>
  <form th:action="@{/projectCalculator/updatetask}" th:object="${updateTask}" method="post">
    <label>
      <input type="text" th:field="*{title}" placeholder="insert title"><br/><br/>
    </label>

    <label>
      <input type="date" th:field="*{deadline}" placeholder="Insert deadline"><br/><br/>
    </label>
    <label>
      <input type="number" th:field="*{timeSpent}" placeholder="Insert time spent"><br/><br/>
    </label>

    <input type="hidden" th:field="*{subId}">
    <input type="hidden" th:field="*{id}">


    <button type="submit">Submit</button>
    <button type="reset">reset</button>
  </form>
</div>
</body>
</html>