<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update Project</title>
  <link rel="stylesheet" th:href="@{/header-footer.css}">
</head>
<body>
<div th:insert="~{fragments/header-footer.html :: header}"></div>
<h1>Update Project</h1>
<div>
  <form th:action="@{/projectCalculator/updatesubproject}" th:object="${updateSubProject}"
        method="post" style="margin-top: 60px">
    <p>
      <label class="centered">Title:</label>
      <input type="text" th:field="*{title}" placeholder="insert title"><br/><br/>
    </p>

    <p>
      <label class="centered">Deadline:</label>
      <input type="date" th:field="*{deadline}" placeholder="Insert deadline"required><br/><br/>
    </p>

    <input type="hidden" th:field="*{projectId}">
    <input type="hidden" th:field="*{id}">


    <p class="centered"><button class="default-button" type="submit">Submit</button></p>
    <p class="centered"><button class="default-button" type="reset">reset</button></p>
    <div th:if="${updatedDeadLineError}" class="error-message">
      Subproject deadline cannot exceed the project deadline.
    </div>
  </form>
</div>
<div th:insert="~{fragments/header-footer.html :: footer}"></div>
</body>
</html>